.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #ddd;
	z-index: 9999;
	display: block;
}
.top-navigation > .content {
	height: 70px;
	width: 970px;
	margin: 0 auto;
}
.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}
.top-navigation .links li.active {
	color: #4c5058;
	font-weight: 500;
}

ul {
	list-style: none;
}
body {
	
}
div {}