html {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.introduction h1, h3 {
	font-weight: 300;
	color: #000;
	text-align: center;
}

*, *:before, *:after {
	box-sizing: inherit;
} 
/* Navigation Section */

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #ddd;
	z-index: 9999;
	display: block;
}
.top-navigation > .content {

	height: 70px;
	width: 970px;
	margin: 0 auto;
	height: 4.375rem;

}
.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 1.04rem;

	margin-top: 1.7rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
	font-size: 16px;
	color: #838994;
	-webkit-font-smoothing: antialiased;
	margin-top: 1.7rem;

}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}

.top-navigation .links li.hover {
	color: #9e2a2f;
	cursor: pointer;
}
.top-navigation .links li.active {
	color: #4c5058;
	font-weight: 500;
}

.logo {
height: 70px;
}
/* Body Section */
.introduction {
	background-image: url("Images/first-background.jpg");
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
}
.content {
	padding: 0px 15px;
	margin: 0 auto;
	width: 970px;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	background-color: #f15a29;
	border-color: #f15a29;
	width: 9.688rem;
}

.big-button:hover {
background-color: #f15a20;
cursor: pointer;
}

.devices {
	width: 33.3333333%;
	display: inline-block;
	border: 1px solid black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 4em;
}

ul {
	list-style: none;
}
/* 

	


